#footer {
    background: black;
    text-align: center;
    color: $secondaryColor;
    position: absolute; 
    left: 0 ; 
    right: 0; 
    bottom: 0; 
    height: 30px;
    p{
        margin: 0;
    }
}