@import './_variables.scss';
@import './_single-page.scss';
@import './_home-page.scss';
@import './_header.scss';
@import './_footer.scss';

html{
    height: 100%;
    body{
        min-height: 100%; 
        position: relative; 
        padding-bottom: 30px; 
        background: $mainColor;
    }
}




