body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}
#image-cover { 
 position: absolute;
 z-index: -1;
 width: 100%;
 height:100%;
 -webkit-filter: blur(5px);
 filter: blur(5px);
}
a:hover{
  text-decoration: none;
}
footer {
  color: white;
  min-height: 100%;  
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:rgb(0, 0, 0);
  margin-bottom: 0px;
}
#root{
  background: linear-gradient(-90deg, #bdc3c7, #2c3e50);
}
h1, h2, h3 {
  font-family: 'Bungee', cursive;
}

/* Header */

nav{
  background: #D36135;
}

#bitshow{
  font-family: 'Bungee', cursive;
}

/* Home Page */

.top-buffer {
  margin-top:15px;
  font-family: 'Bungee', cursive;
  color: #324355;
}

.card{
  width: 100%!important;
}

/* Single Page */

#single-show-image{
  height: 100%;
  width:  51%;
}

.card{
  width: 26rem;
}

#actor-picture{
  min-height: 10em;
  max-height: 15em;
}